<div class="navbar bg-body-light bg-gradient">
    <div class="container justify-content-center gap-2">
        <div class="btn btn-outline-primary p-0 col <%= @follow_requests_btn_c %>">
            <%= link_to "My requests", url_for, class: "d-div text-decoration-none text-reset d-block" %>
        </div>
        <div class="btn btn-outline-primary p-0 col <%= @foreign_follow_requests_btn_c %>">
            <%= link_to "Foreign requests", url_for(foreign_requests: true), class: "d-block text-decoration-none text-reset" %>
        </div>
    </div>
</div>
<% @requests.each do |request| %>
    <%= render "request_card", request: request %>
<% end %>