<% posts.each do |post| %>
    <div class="card mt-1">
        <div class="card-body">
            <div class="card-title">
                <%= link_to post.name, post_path(post.id) %>
            </div>
            <div class="card-text">
                <%= post.content %>
            </div>

                <% if post.owner_id == current_user.id %>
            <div class="btn bg-light">
                    <%= link_to "edit", edit_post_path(post.id) %>
            </div>
            <div class="btn bg-light">
                    <%= link_to "delete", post_path(post.id), data: { "turbo-method": :delete } %>
            </div>
                <% end %>
                <%= current_user.likes.pluck(:post_id) %>
            <div class="evaluation" data-controller="like">
                <button class="btn bg-light" data-like-target="like" data-action="click->like#like">
                    <%= link_to new_post_like_path(post_id: post.id, is_liked: true) do %>
                    <%= render inline: Rails.root.join("app/assets/images/icons/thumb_up.svg").read %>
                    <% end %>
                </button>
                <div class="btn bg-light" data-like-target="dislike" data-action="click->like#dislike">
                    <%= render inline: Rails.root.join("app/assets/images/icons/thumb_down.svg").read %>
                </div>
            </div>
        </div>
    </div>
<% end %>

