<% posts.each do |post| %>
    <div class="card mt-1">
        <turbo-frame id="post_<%= post.id %>">
        <div class="card-body">
            <turbo-frame target="_top">
            <div class="card-title">
                <%= link_to post.name, post_path(post.id) %>
            </div>
            </turbo-frame>
            <div class="card-text">
                <%= post.content %>
            </div>

                <% if post.owner_id == current_user.id %>
            <div class="btn bg-light">
                    <%= link_to "edit", edit_post_path(post.id) %>
            </div>
            <div class="btn bg-light">
                    <%= link_to "delete", post_path(post.id), data: { "turbo-method": :delete } %>
            </div>
                <% end %>
                <% if @likes.include?(post.id) && current_user.likes.find_by(post_id: post.id).is_liked == true %>
                <% like_color = "bg-primary" %>
                <% end %>
                <% if @likes.include?(post.id) && current_user.likes.find_by(post_id: post.id).is_liked == false %>
                <% dislike_color = "bg-primary" %>
                <% end %>
            <div class="evaluation bg-alert" data-controller="like">
                <button class="btn <%= like_color %>" data-like-target="like" data-action="click->like#like">
                    <%= link_to new_post_like_path(post_id: post.id, is_liked: true) do %>
                    <%= render inline: Rails.root.join("app/assets/images/icons/thumb_up.svg").read %>
                    <% end %>
                </button>
                <button class="btn <%= dislike_color %>" data-like-target="like" data-action="click->like#like">
                    <%= link_to new_post_like_path(post_id: post.id, is_liked: false) do %>
                    <%= render inline: Rails.root.join("app/assets/images/icons/thumb_down.svg").read %>
                    <% end %>
                </button>
            </div>
        </div>
        </turbo-frame>
    </div>
<% end %>

